<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
	threshold="null" debug="false">

	<appender name="defaultConsole" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[gc-college-print-pc-web]%d %-5p [%c %L] %m%n" />
		</layout>
	</appender>

	<appender name="appAppender" class="org.apache.log4j.DailyRollingFileAppender">
		<!-- <param name="Threshold" value="INFO" /> -->
		<param name="File" value="/data/applogs/gc-college-print-pc-web/logs/app.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[gc-college-print-pc-web]%d %-5p [%c %L] %m%n" />
		</layout>
	</appender>

	<appender name="bizAppender" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="Encoding" value="UTF-8" />
		<!-- <param name="Threshold" value="INFO" /> -->
		<param name="File" value="/data/applogs/gc-college-print-pc-web/logs/biz.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[gc-college-print-pc-web]%d %-5p [%c %L] %m%n" />
		</layout>
	</appender>

	<logger name="com.gc.college.print.biz" additivity="false">
		<level value="INFO" />
		<appender-ref ref="defaultConsole" />
		<appender-ref ref="bizAppender" />
	</logger>

	<root>
		<level value="INFO" />
		<appender-ref ref="defaultConsole" />
		<appender-ref ref="appAppender" />
	</root>
</log4j:configuration>
